<!--<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
        <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">JavaScript</a></li>
    </ul>

</div>-->

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Edição
            <small>Imagem selecionada</small>
            <img class="img-responsive myBorderImage" src="{{url}}" alt="Imagem selecionada" height="250" width="250">
        </h1>
    </div>
</div>
<!-- /.row -->

<ol id="Funcoes">
    <!-- loop through and display existing ingredients -->
    <li data-ng-repeat="f in functionsSelected | orderBy: 'nome' track by $index">
        <div class="row">
            <div class="col-sm-4">
                <ui-select ng-model="functionsSelected[$index]" theme="select2" ng-disabled="ctrl.disabled"
                           style="min-width: 300px;" title="Choose a person"
                           data-ng-change="changeFunction($index)">
                    <ui-select-match placeholder="Selecione uma função para aplicar à imagem selecionada ...">
                        {{functionsSelected[$index].nome}}
                    </ui-select-match>
                    <ui-select-choices repeat="func in functions | orderBy: 'nome'">
                        <div ng-bind-html="func.nome"></div>
                        <small>
                            Função: {{func.nome}}
                            <span ng-show="func.c">C : {{func.c}}</span>
                            <!--age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>-->
                        </small>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-sm-3" ng-show="functionsSelected[$index].nome == 'Gaussiano'">
                <div class="alert alert-info">
                    <strong>C = 1 </strong>{1, 1};</br>
                    <strong>C = 2 </strong>{1, 2, 1};</br>
                    <strong>C = 3 </strong>{1, 3, 3, 1};</br>
                    <strong>C = 4 </strong>{1, 4, 6, 4, 1};</br>
                    <strong>C = 5 </strong>{1, 5, 10, 10, 5, 1};</br>
                    <strong>C = 6 </strong>{1, 6, 15, 20, 15, 6, 1};</br>
                    <strong>C = 7 </strong>{1, 7, 21, 35, 35, 21, 7, 1};</br>
                    <strong>C = 8 </strong>{1, 8, 28, 56, 70, 56, 28, 8, 1};</br>
                </div>
                <select class="selectpicker" ng-model="f.gauss" ng-options="x for x in gaussOptions"></select>
            </div>
            <div class="col-sm-2">
                <div ng-show="f.hasOwnProperty('c')">
                    Digite C
                    <input class="form-control" type="number" ng-model="f.c">
                </div>
            </div>
            <div class="col-sm-2">
                <div ng-if="f.hasOwnProperty('gama')">
                    Digite Gama
                    <input class="form-control" type="number" ng-model="f.gama">
                </div>
            </div>
            <div class="col-sm-2">
                <div ng-if="f.hasOwnProperty('limiar')">
                    Digite o Limiar
                    <input class="form-control" type="number" ng-model="f.limiar">
                </div>
            </div>
            <div class="col-sm-2">
                <div ng-if="f.hasOwnProperty('cor1')">
                    Digite a Cor 1 {{f.cor1}}
                    <input class="form-control" colorpicker="rgb" type="text" ng-model="f.cor1"/>
                </div>
            </div>
            <div class="col-sm-2">
                <div ng-if="f.hasOwnProperty('intensidade1')">
                    Digite a Intensidade da Cor 1
                    <input class="form-control" type="number" ng-model="f.intensidade1">
                </div>
            </div>
            <div class="col-sm-2">
                <div ng-if="f.hasOwnProperty('cor2')">
                    Digite a Cor 2
                    <input class="form-control" colorpicker="rgb" type="text" ng-model="f.cor2"/>
                </div>
            </div>
            <div class="col-sm-2">
                <div ng-if="f.hasOwnProperty('intensidade2')">
                    Digite a Intensidade da Cor 2
                    <input class="form-control" type="number" ng-model="f.intensidade2">
                </div>
            </div>
            <div class="col-sm-6">
                <div ng-if="f.hasOwnProperty('imagem2')">
                    <div class="input-group input-group-md">
                        <span class="input-group-addon">Arquivo</span>
                        <input type="file" name="file" id="arquivo" class="form-control"
                               placeholder="Selecione um arquivo"
                               aria-describedby="arquivo" ng-model="arquivo">
                        <a ng-disabled="form.arquivo.$pristine" class="btn btn-primary" ng-click="uploadImagem($index)">Upload
                            <span
                                    class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>
            </div>

            <!-- remove button -->
            <div class="col-sm-1">
                <a href="" data-ng-show="f"
                   data-ng-click="functionsSelected.splice($index,1)">
                    [Remove]</a>
            </div>
        </div>
    </li>

    <div>
        <a class="btn btn-primary" ng-click="runTransformacoes()">Aplicar Transformações<span
                class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</ol>

<div ng-repeat="i in imagens" id="Resultado">
    <div class="row" ng-show="i.hasOwnProperty('fileName')">
        <div class="col-md-7">
            <img class="img-responsive myBorderImage" src="{{i.url}}" alt="">
        </div>
        <div class="col-md-5">
            <h3>{{i.nomeTransformacao}}</h3>
            <h4>Subheading</h4>
            <p>{{i.descricaoTransformacao}}</p>
            <a class="btn btn-primary" ng-click="openModal(i)">View Project <span
                    class="glyphicon glyphicon-chevron-right"></span></a>
            <a target="_self" href="{{i.url}}" download="{{i.nomeTransformacao}}.png">Download</a>
        </div>
    </div>
    </br>

</div>

<div class="row" ng-show="soma == true" id="Soma">
    <!--<div class="col-lg-12">-->

    <h1 class="page-header">
        <small>{{funcao}}</small>
    </h1>
    <div class="col-md-3">
        <img class="img-responsive myBorderImage" src="{{urlImagem2}}" alt="Imagem selecionada" height="250"
             width="250">
    </div>
    <div class="col-md-1">
        <div ng-show="funcao == 'Soma'"><span class="glyphicon glyphicon-plus"></span></div>
        <div ng-show="funcao == 'Subtração'"><span class="glyphicon glyphicon-minus"></span></div>
    </div>
    <div class="col-md-3">
        <img class="img-responsive myBorderImage" src="{{urlImagem1}}" alt="Imagem selecionada" height="250"
             width="250">
    </div>
    <div class="col-md-1">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </div>
    <div class="col-md-4">
        <img class="img-responsive myBorderImage" src="{{urlImagemResultante}}" alt="Imagem selecionada"
             height="250"
             width="250">
    </div>
    <!--</div>-->
</div>


<div class="row" ng-show="compararHistogramas()" id="Histograma">
    <!--<div class="col-lg-12">-->
    <h1 class="page-header">Comparação de Histogramas
    </h1>
    <div class="col-md-3">
        Imagem Original
        <img class="img-responsive myBorderImage" src="{{url}}" alt="Imagem selecionada" height="250"
             width="250">
    </div>
    <div class="col-md-3">
        Imagem em tons de cinza
        <img class="img-responsive myBorderImage" src="{{urlImagemOriginalTonsDeCinza}}"
             alt="Imagem selecionada" height="250" width="250">
    </div>
    <div class="col-md-6">
        <div ng-if="showHistogramaEqualizado">
            <img class="img-responsive myBorderImage" src="{{urlImagemHistograma}}" alt="Imagem selecionada"
                 height="250" width="250">
        </div>
    </div>
    <div class="col-md-6">
        <canvas id="myChart" responsive="true" width="400" height="400"></canvas>
    </div>
    <div class="col-md-6">
        <canvas id="equalizacao" responsive="true" width="400" height="400"></canvas>
    </div>
    <!--</div>-->
</div>

<!--
&lt;!&ndash; Project One &ndash;&gt;
<div class="row">
    <div class="col-md-7">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x300" alt="">
        </a>
    </div>
    <div class="col-md-5">
        <h3>Project One</h3>
        <h4>Subheading</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita
            laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis
            atque eveniet unde.</p>
        <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
&lt;!&ndash; /.row &ndash;&gt;

<hr>

&lt;!&ndash; Project Two &ndash;&gt;
<div class="row">
    <div class="col-md-7">
        <a href="#">
            <img class="img-responsive" src="{{url}}" alt="">
        </a>
    </div>
    <div class="col-md-5">
        <h3>Project Two</h3>
        <h4>Subheading</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque
            repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam
            tempore.</p>
        <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
&lt;!&ndash; /.row &ndash;&gt;

<hr>

&lt;!&ndash; Project Three &ndash;&gt;
<div class="row">
    <div class="col-md-7">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x300" alt="">
        </a>
    </div>
    <div class="col-md-5">
        <h3>Project Three</h3>
        <h4>Subheading</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus, dolores, at, praesentium ut
            unde repudiandae voluptatum sit ab debitis suscipit fugiat natus velit excepturi amet commodi deleniti
            alias possimus!</p>
        <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
&lt;!&ndash; /.row &ndash;&gt;

<hr>

&lt;!&ndash; Project Four &ndash;&gt;
<div class="row">

    <div class="col-md-7">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x300" alt="">
        </a>
    </div>
    <div class="col-md-5">
        <h3>Project Four</h3>
        <h4>Subheading</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quidem, consectetur, officia rem
            officiis illum aliquam perspiciatis aspernatur quod modi hic nemo qui soluta aut eius fugit quam in
            suscipit?</p>
        <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
&lt;!&ndash; /.row &ndash;&gt;

<hr>

&lt;!&ndash; Project Five &ndash;&gt;
<div class="row">
    <div class="col-md-7">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x300" alt="">
        </a>
    </div>
    <div class="col-md-5">
        <h3>Project Five</h3>
        <h4>Subheading</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, quo, minima, inventore voluptatum
            saepe quos nostrum provident ex quisquam hic odio repellendus atque porro distinctio quae id laboriosam
            facilis dolorum.</p>
        <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>-->
<!-- /.row -->

<hr>

<!-- Pagination -->
<div class="row text-center">
    <div class="col-lg-12">
        <ul class="pagination">
            <li>
                <a href="#">&laquo;</a>
            </li>
            <li class="active">
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
            <li>
                <a href="#">5</a>
            </li>
            <li>
                <a href="#">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
<!-- /.row -->

<hr>

<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; Your Website 2014</p>
        </div>
    </div>
    <!-- /.row -->
</footer>

<!-- modal -->
<div id="myModal"
     class="modal animated bounceIn"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">

    <!-- dialog -->
    <div class="modal-dialog">

        <!-- content -->
        <div class="modal-content">

            <!-- header -->
            <div class="modal-header">
                <h1 id="myModalLabel"
                    class="modal-title">
                    {{imagemClicada.nomeTransformacao}}
                </h1>
            </div>
            <!-- header -->

            <!-- body -->
            <div class="modal-body">
                <h5>{{imagemClicada.descricaoTransformacao}}</h5>
                <img class="img-responsive myBorderImage" src="{{imagemClicada.url}}" alt="">

            </div>
            <!-- body -->

            <!-- footer -->
            <div class="modal-footer">
                <button class="btn btn-primary"
                        data-dismiss="modal">
                    Close
                </button>
            </div>
            <!-- footer -->

        </div>
        <!-- content -->

    </div>
    <!-- dialog -->

</div>
<!-- modal -->
